.services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    width: 23%;
    background-color: #FFFFFF;
    color: #666565;
    border-radius: 2px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 45px 0px #00000014;
    transition: all 0.3s ease;
}

.service-card svg {
    fill: #FEA116;
}

.service-card:hover {
    background-color: #FEA116;
    color: #FFFFFF;
    box-shadow: 0px 0px 45px 0px #00000028;
}

.service-card:hover svg {
    fill: #FFFFFF;
}

.service-card:hover h1 {
    color: #FFFFFF;
}

.service-card:hover p {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .service-card {
        width: 100%;
    }
}